<section class="container">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/customers">Customers</a>
  </nav>
</section>

<router-outlet></router-outlet>
