<article class="container">
  <h3>Top Customers</h3>
  <div *ngFor="let customer of customers" class="tile col-xs-3">
    <div class="customer">
      <h4>{{customer.name}}</h4>
    </div>
  </div>
</article>
