.customers {
  list-style-type: none;
  padding: 0;
}

.customers li {
  cursor: pointer;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: .5rem;
  border-radius: 12px;
}

.customers li.selected:hover {
  background-color: #69F !important;
  color: white;
}

.customers li:hover {
  cursor: pointer;
  color: white;
  background-color: #36C;
}

.selected {
  background-color: #9BF !important;
  color: white;
}

.customers .badge {
  display: inline-block;
  margin-right: 7px;
}
