<ul class="customers">
  <li *ngFor="let customer of customers, let i = index"
  (click)="onSelect(customer)"
  [class.selected]="customer === selectedCustomer">
    <span class="badge">{{customer.id}}</span>{{customer.name}}
  </li>
</ul>

<customer-detail [customer]="selectedCustomer"></customer-detail>
